<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wugao.vankeda.domain.activity.ActivityRepo">

	<select id="getById" resultType="com.wugao.vankeda.domain.activity.Activity">
		SELECT * FROM T_ACTIVITY WHERE ID = #{id}
	</select>
	<insert id="save">
		INSERT INTO T_ACTIVITY(id, name, mainImageUrl, code, imageWidth, imageHeight, startDate, endDate, status) 
		VALUES(#{id}, #{name}, #{mainImageUrl}, #{code}, #{imageWidth}, #{imageHeight}, #{startDate}, #{endDate}, #{status})
	</insert>
	<update id="update">
		UPDATE T_ACTIVITY SET name = #{name}, mainImageUrl = #{mainImageUrl}, code = #{code}, imageWidth = #{imageWidth}
		, imageHeight = #{imageHeight}, startDate = #{startDate}, endDate = #{endDate}, status = #{status}
		 WHERE id = #{id}
	</update>
	<delete id="remove">
		DELETE FROM T_ACTIVITY WHERE ID = #{id}
	</delete>
	
	<select id="getList" resultType="com.wugao.vankeda.domain.activity.Activity">
		select * from T_ACTIVITY a
		<where>
			<if test="name != null and name != ''">
				and a.name like concat('%', #{name}, '%')
			</if>
			<if test="startDate != null and startDate != ''">
				and a.startDate >= #{startDate}
			</if>
			<if test="endDate != null and endDate != ''">
				and a.endDate &lt;= #{endDate}
			</if>
			<if test="status != null">
				and a.status = #{status}
			</if>
		</where>
	</select>
	
	<insert id="saveActGoodsMap">
		INSERT INTO T_ACTIVITY_GOODS(activityId, goodsId) VALUES
		<foreach collection="list" item="g" separator=","></foreach>
		(#{g.activityId}, #{g.goodsId})
	</insert>
	
	<delete id="removeGoodsFromAct">
		DELETE FROM T_ACTIVITY_GOODS t WHERE t.activityId = #{activityId} and t.goodsId in
		<foreach collection="ids" item="goodsId" open="(" close=")" separator=",">
			#{goodsId}
		</foreach>
	</delete>
	
</mapper>
